# macOS-specific files
.DS_Store

# Editor folders
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log

# Environment variables
.env
.env.local

# Old Astro artifacts (can be deleted)
node_modules/
dist/
.astro/
.output/
