<section class="py-12 bg-gray-50">
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-2xl md:text-3xl font-bold mb-8 text-secondary-900">Listen on Your Favorite Platform</h2>
    
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6 max-w-4xl mx-auto">
      <a href="https://podcasts.apple.com/search?term=monkcast" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center gap-3 p-4 bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow">
        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z" fill="#A536F1"/>
          <path d="M13.3313 8.17964C12.9081 8.2392 11.0919 8.2392 10.6687 8.17964C10.2455 8.12008 9.76358 8.48293 9.64445 8.90064C9.52533 9.31834 9.46577 10.1045 9.46577 11.4271C9.46577 12.7498 9.52533 13.5359 9.64445 13.9536C9.76358 14.3714 10.2455 14.7342 10.6687 14.6746C11.0919 14.6151 12.9081 14.6151 13.3313 14.6746C13.7545 14.7342 14.2364 14.3714 14.3556 13.9536C14.4747 13.5359 14.5342 12.7498 14.5342 11.4271C14.5342 10.1045 14.4747 9.31834 14.3556 8.90064C14.2364 8.48293 13.7545 8.12008 13.3313 8.17964Z" fill="white"/>
        </svg>
        <span class="font-medium text-secondary-800">Apple</span>
      </a>
      
      <a href="https://open.spotify.com/search/monkcast" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center gap-3 p-4 bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow">
        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z" fill="#1DB954"/>
          <path d="M16.5 12C16.5 12.3283 16.3355 12.6339 16.0303 12.9393C15.7251 13.2446 15.4194 13.4092 15.0911 13.4092C14.7628 13.4092 14.4571 13.2446 14.1518 12.9393C13.8466 12.6339 13.6822 12.3283 13.6822 12C13.6822 11.6717 13.8466 11.3661 14.1518 11.0607C14.4571 10.7554 14.7628 10.5908 15.0911 10.5908C15.4194 10.5908 15.7251 10.7554 16.0303 11.0607C16.3355 11.3661 16.5 11.6717 16.5 12Z" fill="white"/>
          <path d="M15.0911 10.5908C15.4194 10.5908 15.7251 10.7554 16.0303 11.0607C16.3355 11.3661 16.5 11.6717 16.5 12C16.5 12.3283 16.3355 12.6339 16.0303 12.9393C15.7251 13.2446 15.4194 13.4092 15.0911 13.4092C14.7628 13.4092 14.4571 13.2446 14.1518 12.9393C13.8466 12.6339 13.6822 12.3283 13.6822 12C13.6822 11.6717 13.8466 11.3661 14.1518 11.0607C14.4571 10.7554 14.7628 10.5908 15.0911 10.5908Z" fill="white"/>
          <path d="M9.9183 8.85248C11.1541 8.85248 12.1825 9.10702 12.9786 9.61612C13.7747 10.1252 14.1833 10.7897 14.1833 11.6097C14.1833 11.938 14.0188 12.2437 13.7135 12.549C13.4083 12.8543 13.1026 13.0189 12.7743 13.0189C12.446 13.0189 12.1403 12.8543 11.835 12.549C11.5298 12.2437 11.3654 11.938 11.3654 11.6097C11.3654 11.4007 11.2607 11.2187 11.0517 11.0642C10.8427 10.9098 10.606 10.8 10.3413 10.7354C10.0767 10.6709 9.78966 10.6386 9.48052 10.6386C9.17135 10.6386 8.89341 10.6709 8.64669 10.7354C8.39997 10.7999 8.16442 10.9098 7.94005 11.0642C7.71567 11.2187 7.60201 11.4007 7.59548 11.6097C7.59548 11.8188 7.70564 12.0001 7.92346 12.1545C8.14126 12.3091 8.38037 12.4281 8.64074 12.5118C8.90111 12.5955 9.17784 12.6614 9.4709 12.7099C9.76396 12.7583 10.057 12.8067 10.3497 12.8552C10.6426 12.9037 10.9249 12.9587 11.1984 13.0208C11.4719 13.0828 11.7349 13.1604 11.9874 13.2532C12.2398 13.3459 12.4749 13.455 12.6927 13.5803C12.9106 13.7056 13.106 13.8462 13.2796 14.0016C13.4531 14.1571 13.5967 14.3288 13.7097 14.5167C13.8226 14.7048 13.9113 14.909 13.9748 15.1299C14.0382 15.3508 14.0698 15.5878 14.0698 15.8413C14.0698 16.4736 13.8839 17.0288 13.5132 17.5055C13.1423 17.9824 12.6349 18.3532 11.9905 18.6181C11.3462 18.883 10.6145 19.0154 9.79637 19.0154C8.97828 19.0154 8.25827 18.883 7.63637 18.6181C7.01447 18.3532 6.51406 17.9824 6.13614 17.5055C5.75818 17.0288 5.57269 16.4736 5.58575 15.8413C5.58575 15.513 5.74961 15.2073 6.05481 14.9021C6.36005 14.5967 6.66576 14.4322 6.99402 14.4322C7.32232 14.4322 7.62805 14.5967 7.93325 14.9021C8.23844 15.2073 8.39452 15.513 8.40758 15.8413C8.40758 16.0503 8.5117 16.2323 8.72071 16.3867C8.92971 16.5412 9.16647 16.651 9.43096 16.7155C9.69548 16.7801 9.97695 16.8124 10.2733 16.8124C10.5697 16.8124 10.8542 16.7801 11.1279 16.7155C11.4015 16.651 11.6371 16.5412 11.8347 16.3867C12.0324 16.2323 12.1342 16.0503 12.1407 15.8413C12.1407 15.6323 12.0306 15.451 11.812 15.2965C11.5934 15.142 11.3543 15.023 11.0946 14.9393C10.835 14.8556 10.5597 14.7897 10.2681 14.7413C9.97655 14.6929 9.68415 14.6444 9.39109 14.596C9.09803 14.5475 8.81671 14.4925 8.54718 14.4305C8.27764 14.3684 8.01485 14.2908 7.75881 14.1981C7.50277 14.1053 7.26775 13.9962 7.05387 13.8709C6.84003 13.7456 6.64547 13.6051 6.47109 13.4496C6.29676 13.2941 6.15313 13.1224 6.04 12.9345C5.92686 12.7466 5.83816 12.5424 5.77468 12.3215C5.71116 12.1006 5.67868 11.8636 5.67868 11.6101C5.67868 10.9777 5.86418 10.4224 6.23558 9.94582C6.60694 9.4691 7.11433 9.09835 7.75881 8.83342C8.40328 8.56849 9.13501 8.43603 9.9183 8.43603V8.85248Z" fill="white"/>
        </svg>
        <span class="font-medium text-secondary-800">Spotify</span>
      </a>
      
      <a href="https://podcasts.google.com/search/monkcast" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center gap-3 p-4 bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow">
        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z" fill="#0066D9"/>
          <path d="M9.5 7.5C9.5 8.7 10.1 9.4 11.2 9.4C11.8 9.4 12.6 9 12.9 8.5L12 7.5H9.5ZM9.5 12L12 9.5L14.5 12L12 14.5L9.5 12ZM12 9.5L14.5 7H12L9.5 9.5H12ZM12 14.5L14.5 17H12L9.5 14.5H12Z" fill="white"/>
        </svg>
        <span class="font-medium text-secondary-800">Google</span>
      </a>
      
      <a href="https://pca.st/podcast/monkcast" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center gap-3 p-4 bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow">
        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z" fill="#F43E37"/>
          <path d="M15.75 8.25L12 12L8.25 8.25M8.25 8.25V15.75M8.25 8.25H15.75M15.75 8.25V15.75M15.75 15.75H8.25M15.75 15.75L12 12L8.25 15.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="font-medium text-secondary-800">Pocket Casts</span>
      </a>
      
      <a href="https://overcast.fm/itunes/monkcast" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center gap-3 p-4 bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow">
        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z" fill="#FC7E0F"/>
          <path d="M9 9.5L12 7L15 9.5M9 14.5L12 17L15 14.5M9 9.5V14.5M9 9.5H15M15 9.5V14.5M15 14.5H9M12 7V17" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="font-medium text-secondary-800">Overcast</span>
      </a>
      
      <a href="https://www.podserve.fm/series/8338/the-monkcast" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center gap-3 p-4 bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow">
        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z" fill="#6B7280"/>
          <path d="M8 11.75L12 7.75L16 11.75M12 7.75V16.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="font-medium text-secondary-800">RSS</span>
      </a>
    </div>
  </div>
</section>